* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #111;
	color: white;
}

img {
	display: block;
	max-width: 100%;
}

.game {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-weight: 400;
	font-size: 2.5rem;
	text-align: center;
}

button {
	font-family: inherit;
	font-size: inherit;
	background: none;
	border: none;
	transition: all 100ms;
	cursor: pointer;
	outline: none;
	background-color: #222;
	color: white;
	padding: 0.4rem;
	border-radius: 0.25rem;
}

/* issue 1: missing focus and hover styles for button */

.board {
	--size: 3;
	margin-block: 2rem;
	display: grid;
	grid-template: repeat(var(--size), 1fr) / repeat(var(--size), 1fr);
	gap: 0.5rem;
	transition: scale 100ms;
}

.outcome {
	margin-bottom: 1.5rem;
	/* issue 2: insufficient color contrast */
	color: #444;
}

.cell {
	width: 4rem;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	border: 0.1rem solid #aaa;
	border-radius: 0.5rem;
	padding: 0;
	/* note: bg color and cursor pointer become superfluous later */
	background-color: #222;
	cursor: pointer;
	/* issue 3: cursor pointer is irritating when cell is filled */
}

.cell.highlight {
	box-shadow: 0 0 1rem #fff4;
	background-color: #0f05;
}

.restart {
	width: 2rem;
	padding: 0.4rem;
}
